@import url('https://fonts.googleapis.com/css2?family=Overpass&family=Work+Sans&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #545F7D;
  background: #fff;
  font-family: "Overpass";
}

a {
  color: inherit;
  text-decoration: none;
}

p, input{
  font-family: 'Work Sans', sans-serif;
}

ul{
  list-style: none;
}

section{
  width: 90%;
  margin: 0 auto;
  padding: 2rem 0;
}

button, a {
  cursor: pointer;
  font-family: 'Work Sans';
}

input, select, textarea, button{
  outline: none;
  border: none;
  background: none;
}

.app {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
}

.content{
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}